<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}"/>
    <title>{{title}}</title>
</head>
<body>
<div>
    <h1>Register Form</h1>
    Enter your details
    <form class="login_form" method="post">
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
               placeholder="E-mail" name="email">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        <input type="password" class="form-control" id="check_password" placeholder="Repeat password"
               name="check_password">
        <input type="text" class="form-control" id="surname" placeholder="SurName" name="surname">
        <input type="text" class="form-control" id="age" placeholder="Age" name="age">
        <input type="text" class="form-control" id="position" placeholder="Position" name="position">
        <input type="text" class="form-control" id="speciality" placeholder="Speciality" name="speciality">
        <input type="text" class="form-control" id="address" placeholder="Address" name="address">

        <button type="submit" class="btn btn-primary">Registration</button>
    </form>
</div>
</body>
</html>